* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #d1b794 !important;
  }
  html {
    width: 100%;
  }
  p {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  contenedor h1 {
    font-size: 100px;
  }