.iniciosesion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 180px 0;
    height: 100vh;
    h1 {
      text-align: center;
    }
    form {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      button, .form-group {
        margin-top: 10px;
      }
    }
    @media (max-width: 1100px) {
      form{
       width: 80%;
      }
     }
  }
