main {
  .contenedor {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-areas:
      "box1 box1 box2"
      "box3 box4 box4"
      "box5 box5 box6";
    background-color: $fondoclaro;
    padding-top: 50px;

    .box1,
    .box4,
    .box5 {
      background-color: $fondoclaro;
      padding: 50px;
      p {
        text-align: justify;
        font-size: 15px;
      }
      h1 {
        text-align: center;
        font-family: "Orbitron", sans-serif;
      }
    }

    .box1 {
      grid-area: box1;
      margin-top: 90px;
    }

    .box2 {
      grid-area: box2;
      img {
        width: 500px;
        margin-top: 150px;
        margin-right: 5px;
        &:hover {
          transform: scale(1.1, 1.1);
          transition: 0.2s;
        }
      }
    }
    .box3 {
      grid-area: box3;
      margin: 15px;
      margin-top: 100px;
    }

    .box4 {
      grid-area: box4;
      margin-top: 15px;
    }

    .box5 {
      grid-area: box5;
      margin-top: 15px;
    }

    .box6 {
      grid-area: box6;
      margin-top: 15px;
      img {
        margin-left: 20%;
        margin-top: 20%;
        margin-bottom: 5px;
        height: 300px;
        &:hover {
          transform: scale(1.1, 1.1);
          transition: 0.2s;
        }
      }
    }

    @media (max-width: 1100px) {
      grid-template-areas:
        "box2"
        "box1"
        "box4"
        "box3"
        "box5"
        "box6"
        "box7"
        "box8";

      .box1,
      .box3 {
        margin-top: 0;
      }
      .box2,
      .box3,
      .box6 {
        display: flex;
        justify-content: center;
      }

      .box2,.box6 {
        img {
          margin: 0;
        }
      }
    }
  }
}
